body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

p {
    font-family: 'Roboto Slab', serif;
}

h1,h2,h3,h4,h5,h6,a {
    font-family: 'Roboto Slab', serif;
}

h5 {
    font-family: 'Roboto Slab', serif;
}

main {
    flex: 1 0 auto;
}

.logo {
    padding-left: 16px;
}

.thin-text {
    font-weight: 300;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.section-name {
    padding-left: 16px;
}